<!-- This is an about page-->
<!-- Created by Seth Dippold for the Fall 2016 Hackathon at UC-->

@{
// ViewBag.Title = "Frequently Asked Questions";

}
<!-- <h2>@ViewBag.Title.</h2> -->

<h1>About Me!</h1>
<br />
<p>Hello I am Ryan Kump. I am 16 years old and a sophmore at St. Xavier high school. I am in the middle of the picture shown below. The other two are my brothers Robbie and Andrew.</p>
<img alt="Forest Hills Journal" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/12509451_10208280201465616_3987225004066939548_n.jpg?oh=c0f98e2419ae996b4ec5ebea675d93de&oe=58AE2FE3" width=800 height=500 />

