<!-- This is an about page-->
<!-- Created by Seth Dippold for the Fall 2016 Hackathon at UC-->

@{
// ViewBag.Title = "Frequently Asked Questions";

}
<!-- <h2>@ViewBag.Title.</h2> -->

<h1>About!</h1>
<br />
<p>fill me out kthx!</p>

