@{
    ViewBag.Title = "Contact Me!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    994 Nottingham Drive<br />
    Cincinnati, OH 45255<br />
    <abbr title="Phone">P:</abbr>
    513-474-9778
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>