<!-- This is a page for frequently asked questions-->
<!-- Created by Seth Dippold for the Fall 2016 Hackathon at UC-->


<h1>FAQ</h1>
<br />

<div class="container-fluid ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: What... is your name?
                    </a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        It is 'Arthur', King of the Britons.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: What... is your quest?
                    </a>
                </h4>
            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        To seek the Holy Grail.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: What... is the air-speed velocity of an unladen swallow?
                    </a>
                </h4>
            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        What do you mean? An African or European swallow?
                    </p>
                </div>
            </div>
        </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: Ask me
                    </a>
                </h4>
            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Fill me in yo
                    </p>
                </div>
            </div>
        </div><div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: Question
                    </a>
                </h4>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Answers!!!!
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: hey dog
                    </a>
                </h4>
            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        yo this an answer
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: Question
                    </a>
                </h4>
            </div>
            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Dis an answer
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                <h4 class="panel-title">
                    <a href="#" class="ing">
                        Q: Question
                    </a>
                </h4>
            </div>
            <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Dis an answer part 2
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
