@{
    ViewBag.Title = "Home Page";

}


<div class="pay-your-bill-pics">
    <div class="jumbotron-text-top">
        
        <IMG SRC="http://i.imgur.com/ft8lJpL.png" ALT="PICTURR IS HERRR" WIDTH="777" HEIGHT="382">
        <!--<div class="jumbotron-actual-text">Pay here!</div>-->
    </div>
</div>

<div class="pay-header">
    <div class="jumbotron-actual-text">Please read below before paying!</div>
</div>

<div class="paying-box">
    <div class="row-info">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Getting started</div>
                <div class="panel-body">Using your PayPal account, you can easily pay for various month subscriptions to the Forest Hills Journal.</div>
            </div>
            <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Pricing Information</div>
                <div class="panel-body">1 Month - $3.50 <br />6 Months - $21.00<br />12 Months - $42.00</div>
            </div>
        </div>
    </div>

    <div class="row-info">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Description box</div>
                <div class="panel-body">Put your address and amount of months paid for in description box.</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Price per item</div>
                <div class="panel-body">Put the TOTAL amount here. The bill and tip added together.</div>
            </div>
        </div>
    </div>  
</div>

<div class="pay-button">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="LQUT433RVFMCL">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>


<div class="row">
    
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p>Ryan Kump<br /><a class=mobile href="tel:513-474-9778">Phone: 513-474-9778</a><span class=desktop>Phone: 513-474-9778</span>
            Email: <a href="mailto:mkump@kumpmail.com">mkump@kumpmail.com</a>
        </p>
    </div>
</div>
